
@{
    ViewBag.Title = "index";
}

<h2>index</h2>




<input type="text" id="txtName" />
<input type="button" value="ins" id="btn" />

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/main.js"></script>


